#include <windows.h>
#include "../../version.h"

IDI_ICON1               ICON    DISCARDABLE     "./../Rubble.ico"

1 VERSIONINFO
    FILEVERSION     RBL_VERSION_B
    PRODUCTVERSION  RBL_VERSION_B
    FILEOS          VOS_NT
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "04090025"
        {
            VALUE "CompanyName", "Double Click Technologies"
            VALUE "FileDescription", "Rubble Universal Interface"
            VALUE "FileVersion", RBL_VERSION
            VALUE "InternalName", "Rubble"
            VALUE "LegalCopyright", "2013-2017 Milo Christiansen"
            VALUE "OriginalFilename", "rubble.exe"
            VALUE "ProductName", "Rubble v" RBL_VERSION
            VALUE "ProductVersion", RBL_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x0025
    }
}
